<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lina.smsplugin" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

</manifest>
